* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    background-color: #a8a3a3;
}

.about {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d3cbcb;
    border-radius: 10px;
    height: 100%;
}

.about h1 {
    text-align: center;
}

.about h2 {
    margin-top: 10px;
}

.about p {
    line-height: 1.5;
}